db
greybox_tmp
incremental_db
output_files
simulation
hc_output
scaler
hps_isw_handoff
vip
*_sim
.qsys_edit
PLLJ_PLLSPE_INFO.txt
*.bak
*.orig
*.rej
*.qdf
*.rpt
*.smsg
*.summary
*.done
*.jdi
*.pin
*.sof
*.qws
*.ppf
*.ddb
build_id.v
c5_pin_model_dump.txt
*.sopcinfo
*.csv
*.f
*.cmp
*.sip
*.spd
*.bsf
*~
*.xml
*_netlist
*.cdf
**/.DS_Store
prom_prio_8.txt
rom_007232_8.txt
rom_68k_16.txt
rom_7759C_8.txt
rom_sprites_32.txt
rom_theme_16.txt
rom_tiles_32.txt
rom_z80_8.txt
sim/roms/963-x22.k15
sim/roms/963-x23.j17
sim/roms/963-x24.k17
sim/roms/963a15.k4
sim/roms/963a16.k6
sim/roms/963a17.h4
sim/roms/963a18.h6
sim/roms/963a25.d5
sim/roms/963a26.c13
sim/roms/963a27.d18
sim/roms/963a28.h27
sim/roms/963a29.k27
sim/roms/963a30.g7
sim/roms/963a31.g19
sim/roms/963e20.g13
sim/roms/pack_roms.py
sim/roms/prom_prio.bin
sim/roms/prom_sprdec.bin
sim/roms/prom_sprdec_8.txt
sim/roms/rom2verilog.c
sim/roms/rom2verilog.exe
sim/roms/rom_007232.bin
sim/roms/rom_68k.bin
sim/roms/rom_68k.i64
sim/roms/rom_7759C.bin
sim/roms/rom_sprites.bin
sim/roms/rom_theme.bin
sim/roms/rom_tiles.bin
sim/roms/rom_z80.bin
sim/run_sim.bat
sim/tests/run_sim.bat
sim/tests/test.v
sim/tests/test
sim/tests/test.vcd
sim_description.txt
